<table *ngIf="user$ | async as user">
  <thead>
    <tr>
      <td>Id</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Gender</td>
    </tr>
  </thead>
  <tr>
    <td class="user-id">{{ user.id }}</td>
    <td class="user-first-name">{{ user.firstName }}</td>
    <td class="user-last-name">{{ user.lastName }}</td>
    <td class="user-gender">{{ user.gender | gender }}</td>
  </tr>
</table>
